:root {
    --clr-black: #151515;
    --clr-white: #ffffff;
    --clr-gray: #a5a5a5;
    --clr-gray3: #f0f0f0;
    --clr-primary: #ff1c1c;
    --clr-gray2: #2f2f2f;

    --search-padding: 1rem;
}
* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    font-family: Poppins;
    background-color: #f7f7f7;
}
.bg-prim {
    background-color: var(--clr-primary);
}
.text-prim {
    color: #ff1c1c;
}
.sidebar-link {
    color: var(--clr-gray);
}
.sidebar-link.active,
.sidebar-link:hover {
    color: var(--clr-primary);
}
.form-control {
    box-shadow: none !important;
}
.card {
    min-height: 120px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
}

.filter-card {
    min-height: 120px;
}

label{
  margin-bottom: 7px;
}